@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.navbar{
    width: 100%;
    height: 100vh;
    background: url(image/gg.png);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 75px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
    font-weight: 500;
    font-size: 20px;
}
nav ul li a:hover{
    color: #4351A3;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #4351A3;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.logo a span{
    color: #4351A3;
}
.max-width{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #4351A3;
    border: 2px solid #4351A3;
     }
.btn:hover{
    background: transparent;
    border-color: #4351A3;
    color: #4351A3;
}
.content{
    position: absolute;
    top: 30%;
    left: 8%;
}
.content .title{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#4351A3 79.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #4351A3;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}

body {
background-color: #e7e7e9;
}
label{
font-weight: bold;
font-size: 20px;
margin-right: 10px;
color: #777;

}
.text-center{
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    color: #e7e7e9;
}
.btn1{
    color: #4351A3;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fff;
    border: 2px solid #e7e7e9;
    margin: 0 0 100px 30px;
}
.btn1:hover{
    background: transparent;
    border-color: #4351A3;
    color: #4351A3;
}
#contact{
    background-color: #4351A3;
}
input{
    margin: 0 10px;
    width: 350PX;
    height: 30px;
}
.message{
    margin: 0 10px 20px;
    
}
footer {
    height: 100px;
    background-color: #e7e7e9;
    font-family: 'ubuntu', sans-serif;
    margin-top: 50px;

}
  .copyright  {
    text-align: center;
    font-weight: initial;
    color: rgb(14, 13, 13);
  }
  .name{
      text-align: center;
      color: rgb(20, 20, 20);
  }
 /* design respnsive*/
 @media only screen and (max-width: 600px){

    
 }